<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="LensSelector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="baseHref" value="http://63.96.3.232:83/"/>
		<add key="smtp.Host" value="10.17.1.14"/>
		<add key="mail.from" value="noreply@hoyavision.com"/>
	</appSettings>
	<connectionStrings>
		<add name="HoyaLensConn" connectionString="server=10.17.1.9,1433;UID=hoyaapp;PWD=ayoh*noisiv;initial catalog=WebSites" providerName="System.Data.SqlClient"/>
		
	</connectionStrings>
	<system.web>
	
		<compilation debug="true" targetFramework="4.0" />

		<authentication mode="Windows"/>

	</system.web>
 <applicationSettings>
  <LensSelector.Properties.Settings>
   <setting name="isTesting" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TestingEmail" serializeAs="String">
    <value>amy.smith@hoyavision.com</value>
   </setting>
  </LensSelector.Properties.Settings>
 </applicationSettings>
</configuration>
